doctype html
html(lang='en')
  include common/head.pug
  +head(title)
  body
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    .content
      .content-title IOT SENSORS 
      .sensors-container
        .sensor1
          .bar
            button(type="button", title="Edit Name", onclick="onclickModal('t-sensor-name')").editbtn            
              i(class="fa fa-pencil-square-o")
            #t-sensor-name
          .sensor-img-box
            img(src="/images/temperature.png", alt="Temperature")
          .sensor-info
            p#t-value 
            .symbol ℃

        .sensor2
          .bar
            button(type="button", title="Edit Name", onclick="onclickModal('u-sensor-name')").editbtn
              i(class="fa fa-pencil-square-o")
            #u-sensor-name
          .sensor-img-box
            img(src="/images/umidity.png", alt="Umidity")
          .sensor-info
            p#u-value
            .symbol %

        .sensor3
          .bar
            button(type="button" title="Edit Name", onclick="onclickModal('prox-sensor-name')").editbtn
              i(class="fa fa-pencil-square-o")
            #prox-sensor-name
          .sensor-img-box
            img(src="images/proximity.png", alt="Proximity")
          .sensor-info
            p#prox
          .dropdown
            button(type="button").dropbtn 
              .dropbtn-txt Sensors
              i(class="fa fa-caret-down").dropbtn-img
            .dropdown-content
              a(onclick='onclickSensorProx(1)') Sensor1
              a(onclick='onclickSensorProx(2)') Sensor2
              a(onclick='onclickSensorProx(3)') Sensor3
              
      .bottombtns
        a(onclick=`onclickRefresh()`).refresh Refresh
        a(onclick=`onclickLogout()`).log-out Logout

    .modal-bg
      .modal-container
        .modal-title Set Sensor Name
        form(action="/", onsubmit="return false", method="POST").modal-form
          input(name="name", id="name", type="text", placeholder="New Name").modal-label
          .modalbtn
            input(type="submit", onclick="performNameChange()", value="Submit").modal-submit 
            input(type="button", onclick="onclickModalClose()", value="Close").modal-close

    include common/footer.pug
    script(type='text/javascript').
      var sensors = !{JSON.stringify(sensors)}; 
    script(src='javascripts/sensors.js')
    +footer('')