doctype html
html(lang='en')
  include common/head.pug
  +head(title)
  body
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    .content
      .content-title IOT SENSORS
      .sensors-container
        .sensor1
          .sensor-name Temperature
          .sensor-img-box
            img(src="/images/temperature.png", alt="Temperature")
          .sensor-info
            p #{sensors.temperature}
        .sensor2
          .sensor-name Umidity
          .sensor-img-box
            img(src="/images/umidity.png", alt="Umidity")
          .sensor-info
            p #{sensors.umidity}
        .sensor3
          #p-sensor-name Proximity - S1
          .sensor-img-box
            img(src="images/proximity.png", alt="Proximity")
          .sensor-info
            p #{sensors.proximity.sensor1}
          .dropdown
            button(type="button").dropbtn 
              .dropbtn-txt Sensors
              i(class="fa fa-caret-down").dropbtn-img
            .dropdown-content
              a(onclick=`onclick_sensor1()`) Sensor1
              a(onclick=`onclick_sensor2()`) Sensor2
              a(onclick=`onclick_senzor3()`) Sensor3
        .sensor4
          .sensor-name Relay
          .sensor-img-box
            img(src="/images/relay.png", alt="Relay")
      .log-out
        a(onclick=`onclick_logout()`) Logout
    include common/footer.pug
    script(src="/javascripts/sensors.js")
    +footer('')