doctype html
html(lang='en')
  include common/head.pug
  +head(title)
  body
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    .content
      .content-title IOT SENSORS
      .sensors-container
        .sensor1
          .bar
            button(type="button", title="Edit Name", onclick='onclick_modal()').editbtn
              i(class="fa fa-pencil-square-o")
            .sensor-name Temperature
          .sensor-img-box
            img(src="/images/temperature.png", alt="Temperature")
          .sensor-info
            p #{sensors.temperature} ℃

        .sensor2
          .bar
            button(type="button", title="Edit Name", onclick='onclick_modal()').editbtn
              i(class="fa fa-pencil-square-o")
            .sensor-name Umidity
          .sensor-img-box
            img(src="/images/umidity.png", alt="Umidity")
          .sensor-info
            p #{sensors.umidity} %

        .sensor3
          .bar
            button(type="button", title="Edit Name", onclick='onclick_modal()').editbtn
              i(class="fa fa-pencil-square-o")
            #prox-sensor-name Proximity
          .sensor-img-box
            img(src="images/proximity.png", alt="Proximity")
          .sensor-info
            p#prox
          .dropdown
            button(type="button").dropbtn 
              .dropbtn-txt Sensors
              i(class="fa fa-caret-down").dropbtn-img
            .dropdown-content
              a(onclick='onclick_sensor(1, '+ sensors.proximity.sensor1 +')') Sensor1
              a(onclick='onclick_sensor(2, '+ sensors.proximity.sensor2 +')') Sensor2
              a(onclick='onclick_sensor(3, '+ sensors.proximity.sensor3 +')') Sensor3
        
        //- .sensor4
        //-   .sensor-name Relay
        //-   .sensor-img-box
        //-     img(src="/images/relay.png", alt="Relay")

      .log-out
        a(onclick=`onclick_logout()`) Logout
    
    .modal-bg
      .modal-container
        .modal-title Set Sensor Name
        form(action="/", onsubmit="return false", method='POST').modal-form
        input(type="text", placeholder="New Name").modal-label
        .modalbtn
          input(type="submit", value="Submit").modal-submit 
          input(type="button", onclick="onclick_modal_close()" value="Close").modal-close

    include common/footer.pug
    script(src="/javascripts/sensors.js")
    +footer('')