@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
font-family: 'SansationLight'; 
src: url('/fonts/Sansation_Light.ttf'); 
}

html {
  background: url('/images/bg.png') center center fixed;
  top: 0;
  left: 0;
}


.content {
  background-color: rgba(94, 100, 114, 0.3);
  margin: 0 auto;
  width: 25em;
  height: 31em;
  margin-top: 2em;
  border: 1px solid rgb(123, 122, 139);
  border-radius: 45px;
  transition: 0.5s;
}

@media screen and (max-width: 450px) {
  .content {
    width: 23em;
  }
}

.content:hover {
  width: 23em;
  transition: 0.5s;
}

.content-title {
  color: white;
  font-size: 2.7em;
  font-family: 'SansationLight';
  text-align: center;
  background-color: #6a7083;
  opacity: 0.7;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  border-top: 1px solid rgb(85, 85, 85);
  border-radius: 45px 45px 0px 0px;
}

.form-label {
  border: 0px solid white;
  background: rgba(0,0,0,0);
	height: 2em;
	width: 100%;
  margin-top: 5%;
  font-size: 1.45em;
  font-family: 'SansationLight';
  color: white;
  border: none;
  border-bottom: 1px solid #CCC;
  width: 80%;
  margin-left: 10%;
}

.form-label:focus {
  outline: rgb(91, 192, 113);
  border: 0 solid rgb(91, 192, 113);
  border-bottom: 1px solid #CCC;
  color: white;
}

.content form input::placeholder {
  color: white;
  opacity: 0.7;
}

.content form a {
  text-decoration: none;
  color: white;
  margin-top: 2em;
  font-family: 'SansationLight';
  font-style: italic;
  font-size: 0.8em;
  cursor: pointer;
}

.content form a:hover {
  text-decoration: underline;
}

.sign-up, .log-in {
  float: left;
  margin-left: 5em;
}
.forgot-password {
  float: right;
  margin-right: 5em;
}

.form-submit {
  border: 0px solid black;
  border-radius: 10px;  
  background-color: #565c69;
  padding: 0.7em 3.5em 0.7em 3.5em;
  font-size: 1.45em;
	font-family: 'Roboto';
  color: white;
  margin: 0 auto;
  display: block;
  margin-top: 2.5em;
  cursor: pointer;
}

.form-submit:focus {
  outline: 0px solid #565c69;
}

.form-submit:hover {
  background-color: #474c58;
}

.info {
  margin: 0 auto;
  margin-top: 1em;
  font-family: 'SansationLight';
  font-style: italic;
  color: white;
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
}